# Ignore node_modules directory
node_modules/

# Ignore production build directory (if using)


# Ignore environment variables file
.env

# Ignore any log files generated
*.log

# Ignore any process ID files
*.pid
